.aboutcontainer {
    display: flex;
    background-color: none;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
}
.title {
    font-size: 80px;
    font-weight: 200;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.image {
    flex: 1;
    text-align: right;
    background-color: none;
    padding: 20px;
  }
  .image img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .textcontainer {
    align-items: center;
    justify-content: center;
    flex: 2;
    margin-left: 30px;
    margin-top: 20px;
    background-color: none;
  }
  .text {
    font-size: 21px;
    font-weight: 300;
}
@media (max-width: 1024px) {
    .aboutcontainer {
        flex-direction: column;
        margin: 0;
    }
    .textcontainer {
        margin-right: 30px;
    }
    .image img {
      max-width: 50%;
      height: auto;

  }
  }
  @media (max-width: 1024px) {
    .title {
      font-size: 60px;
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 540px) {
    .title {
      font-size: 60px;
    }
    .aboutcontainer {
      margin: 0;
    }
    .textcontainer {
      text-align: center;
      margin: 10px;
  }
    .text {
        font-size: 18px;
    }
    .image img {
      max-width: 100%;
  }
  }