.aboutsection {
  text-align: center;
  padding: 3rem 0;
  margin-right: 50px;
}
.aboutTitle {
  opacity: 0;
  /* transition: opacity 0.5s, transform 0.5s; */
  font-size: 80px;
  font-weight: 200;
  margin-bottom: 1rem;
}
.link {
  color: blue;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 933px) {
  .aboutsection {
    margin-right: 50px;
  }
}
@media (max-width: 430px) {
  .aboutsection {
    margin-right: 0px;
  }
}