/* individual project page */
.projectContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.projectImageContainer {
  margin-top: 20px;
}
.projectImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.projectDescription {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
.backButton {
  margin: 5px;
  padding: 10px 20px;
  background-color: #8800ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.backButton:hover {
  background-color: #3f474e;
}

/* projects page*/
 .title {
    font-size: 80px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.projecttitle {
    font-size: 75px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.projecttagline {
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #8800ff;
}
.sitelinktext {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.sitelink {
  color: #8800ff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease-in;
}
.sitelink:hover {
  color: #cd99fb;
}
.projectdate {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.projectlanguages {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    margin: 0 40px;
  }
  
  .projectTile {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .projectTile img {
    width: auto;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
  }

  .projectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s;
    padding: 20px;
  }
  .projectTile:hover .projectOverlay {
    opacity: 0;
  }
  @media (max-width: 902px) {
    .projecttitle {
      font-size: 60px;
    }
    .projecttagline {
      font-size: 24px;
  }
  }
  @media (max-width: 686px) {
    .projecttitle {
      font-size: 40px;
    }
    .projecttagline {
      font-size: 18px;
  }
  }
  @media (max-width: 523px) {
    .projecttagline {
      font-size: 14px;
  }
  }
  @media (max-width: 488px) {
    .projecttitle {
      font-size: 30px;
  }
  }
  @media (max-width: 413px) {
    .projecttagline {
      font-size: 18px;
  }
  }
  @media (max-width: 376px) {
    .projecttitle {
      font-size: 25px;
  }
  }
  