.carouselContainer {
  margin-top: 30px;
  width: 300px;
  height: 350px;
  overflow: hidden;
  flex: 2;
  padding: 30px;
}
.carousel {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  perspective: 1000px;
  transition: transform 0.5s ease-in-out;
}
.image {
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  object-fit: contain;
}

