.technologies {
    display: flex;
    flex-direction: row;
/*     margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px; */
    padding: 30px;
  }
  .techTitle {
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 1rem;
  }
  .link {
    color: blue;
    font-size: 24px;
    font-weight: 600;
/*     margin-bottom: 20px; */
    margin-top: 20px;
  }
  .quotecontainer {
    align-items: center;
    justify-content: center;
    flex: 4;
    margin-left: 30px;
    height: 100px;
}
.quote {
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
}
.fullstackcontainer {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f3dfc997;
    margin-bottom: 20px;
}
.fullstack {
    max-width: 100%;
    height: auto;
}
@media (max-width: 1235px) {
  .technologies {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 800px;
  }
  .quotecontainer {
    text-align: center;
}
}
@media (max-width: 431px) {
  .techTitle {
    font-size: 50px;
  }
  .quotecontainer {
    margin-left: 0px;
  }
  .quote {
    font-size: 24px;
  }
  .link {
    font-size: 20px;
  }
}