.technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .techTitle {
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 1rem;
  }
  .link {
    color: blue;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }